# In production, NEXT_PUBLIC_BASE_URL is the base URL of your deployment; like https://samay.app
# In development, NEXT_PUBLIC_BASE_URL is http://localhost:3000
NEXT_PUBLIC_BASE_URL=

# Key and IV for server-side data encryption and decryption
# Generate ENCRYPTION_KEY using $openssl rand -hex 16
# Generate ENCRYPTION_IV using $openssl rand -hex 8
ENCRYPTION_KEY=
ENCRYPTION_IV=

# OIDC authentication
# NEXTAUTH_URL is the base URL of your deployment; like http://localhost:3000 in development
# Generate NEXTAUTH_SECRET using $openssl rand -base64 32
NEXTAUTH_URL=
NEXTAUTH_SECRET=
OIDC_ISSUER=
OIDC_CLIENT_ID=
OIDC_CLIENT_SECRET=
# Optional display name for the login provider
OIDC_PROVIDER_NAME=

# Configuration for MongoDB container. Sample values are provided for local environment
# Change the values as per needs for security
MONGO_INITDB_ROOT_USERNAME=samay
MONGO_INITDB_ROOT_PASSWORD=samayPassword
MONGO_INITDB_DATABASE=samayPolls

# In production, NEXT_MONGODB_URI is the connection string
# In development, if using Docker, NEXT_MONGODB_URI is mongodb://${MONGO_INITDB_ROOT_USERNAME}:${MONGO_INITDB_ROOT_PASSWORD}@database:27017/${MONGO_INITDB_DATABASE}?authSource=admin
# If you wish to use a local database, you can use mongodb://localhost:27017/samayPolls
# Uncomment the line below and set NEXT_MONGODB_URI if you wish to use a connection string for an external database directly (like on Atlas)
# NEXT_MONGODB_URI=
